* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

button {
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 25px;
    background-color: rgb(73, 65, 65);
    color: white;
    cursor: pointer;
}